body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background-color: #f5f4ed;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    background: #f5f5f5;
    padding: 2px 6px;
}

.p {
    line-height: 1.5;
}

.grid {
    display: inline-grid;
    border: #1111 1px solid;
    box-shadow: 0 0 5px -1px rgb(0 0 0 / 30%), 0 0 15px -1px rgb(0 0 0 / 25%),
    0 0 20px -1px rgb(0 0 0 / 15%);
    margin: 3vw 0 0 11vw;
    height: 25vh;
    width: 20vh;
    border-radius: 10%;
    background-color: #e9dcd1;
}

.grid-sub {
    display: inline-grid;
    text-align: center;
    border: #1111 1px solid;
    box-shadow: 0 0 5px -1px rgb(0 0 0 / 30%), 0 0 15px -1px rgb(0 0 0 / 25%),
    0 0 20px -1px rgb(0 0 0 / 15%);
    margin: 4vw 0 0 4.5vw;
    height: 60px;
    width: 20vh;
    border-radius: 10px;
    background-color: #e9dcd1;
}

.grid:active {
    box-shadow: 0 0 5px -1px rgb(0 0 0 / 30%), 0 0 15px -1px rgb(0 0 0 / 25%),
    0 0 20px -1px rgb(0 0 0 / 15%);
    transform: translateY(10px) translateX(10px);
}

.meal-name {
    color: #b5191f !important;
    text-decoration: none;
    text-align: center;
    margin-top: 2vh;
}

.image {
    margin-top: 2vh;
    height: 15vh;
}

#text {
    margin-top: -4vh;
    margin-left: 2vw;
}

h1 {
    font-size: 4rem;
}

.logo_landing_page {
    margin: 30px 30px 30px 5vw;
}

.logo {
    margin: 30px 30px 30px -10vw;
}

.content {
    height: 110vh !important;
}

.mealImage {
    /*margin: -10px;*/
    width: 19.6vw;
    margin-left: -15px;
    border-radius: 20px 20px 0 0;
    min-height: 20vw;
}

#row {
    position: relative;
    left: 18%;
    width: 100%;
}

.col-sm-3 {
    float: right;
}

button {
    outline: none !important;
}

#column {
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    width: 20%;
    height: 54vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.wineImage {
    max-width: 40vw;
    max-height: 50vh;
    position: relative;
    padding-top: 5vh;
}

.imageWine {
    max-width: 200px;
    max-height: 200px;
}

/* ---------------------- price slider ----------------------------------*/

.ui-page-theme-a .ui-btn {
    background-color: #d9534f !important;
    color: #fff !important;
}

.ui-page-theme-a .ui-slider-track .ui-btn-active {
    background-color: #b5191f !important;
    border-color: #b5191f !important;
    color: #fff;
    text-shadow: 0 1px 0 #b5191f !important;
}

.ui-page-theme-a .ui-body-inherit::before {
    content: "€" !important;
}

#slider-container {
    background-color: #e9dcd1;
    width: 22%;
    top: 24%;
    padding: 20px;
}

/* ---------------- end price slider ---------------------------------------- */
/* ---------------- begin pagination ---------------------------------------- */

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.hr-pagination {
    opacity: 0;
}

#pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#pagination ul li {
    color: #fff;
    display: flex;
}

#pagination ul li a {
    background-color: #dfd9ba;
    color: #111111;
    padding: 20px 35px;
    border: 2px solid rgb(0, 0, 0);
    border-right: 0;
}

#pagination ul li.active a {
    background-color: #dc1e27;
}

#pagination ul li:first-child a {
    border-radius: 7px 0 0 7px;
}

#pagination ul li:last-child a {
    border-radius: 0 7px 7px 0;
    border-right: 2px solid rgba(0, 0, 0, 1);
}

.row {
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 1%;
    display: inline-block !important;
}

/* ---------------- end pagination ---------------------------------------- */

#page-description {
    width: 40vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

/* ---------------- begin checkbox filter ---------------------------------------- */

.filter__control {
    line-height: 10px;
}

.filterWineSpecs {
    position: absolute;
    z-index: 3;
    left: 150px;
    top: 460px;
}

.filter__button {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    /*color: #333;*/
    position: relative;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.filter__button:before {
    content: "";
    display: block;
    background: rgb(217, 83, 79);
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    transform: translateX(-10px);
    transition: 0.2s ease-in-out;
}

.filter__button:hover:before {
    transform: translateX(-5px);
}

input[type="checkbox"]#wit:checked, ~ .filter__control.filter__button[for="wit"]:before {
    transform: translateX(0px);
}

input[type="checkbox"]#wit:checked, ~ .filter__control.filter__button[for="wit"] {
    background: #fff;
    padding-left: 30px;
}

input[type="checkbox"]#rood:checked, ~ .filter__control .filter__button[for="rood"]:before {
    transform: translateX(0px);
}

input[type="checkbox"]#rood:checked, ~ .filter__control.filter__button[for="rood"] {
    background: #fff;
    padding-left: 30px;
}

input[type="checkbox"]#rose:checked, ~ .filter__control .filter__button[for="rose"]:before {
    transform: translateX(0px);
}

input[type="checkbox"]#rose:checked, ~ .filter__control.filter__button[for="rose"] {
    background: #fff;
    padding-left: 30px;
}

input[type="checkbox"]#port:checked, ~ .filter__control .filter__button[for="port"]:before {
    transform: translateX(0px);
}

input[type="checkbox"]#port:checked, ~ .filter__control.filter__button[for="port"] {
    background: #fff;
    padding-left: 30px;
}

input[type="checkbox"]#sherry:checked, ~ .filter__control .filter__button[for="sherry"]:before {
    transform: translateX(0px);
}

input[type="checkbox"]#sherry:checked, ~ .filter__control.filter__button[for="sherry"] {
    background: #fff;
    padding-left: 30px;
}

input[type="checkbox"]#madeira:checked, ~ .filter__control .filter__button[for="madeira"]:before {
    transform: translateX(0px);
}

input[type="checkbox"]#madeira:checked, ~ .filter__control.filter__button[for="madeira"] {
    background: #fff;
    padding-left: 30px;
}

input[type="checkbox"]#vermout:checked, ~ .filter__control .filter__button[for="vermout"]:before {
    transform: translateX(0px);
}

input[type="checkbox"]#vermout:checked, ~ .filter__control.filter__button[for="vermout"] {
    background: #fff;
    padding-left: 30px;
}


/* ---------------- end checkbox filter ---------------------------------------- */
#producten {
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    min-height: 35vh;
    width: 25vw;
}


/*.buttons {*/
/*    min-height: 30vh;*/
/*}*/

.mealsDescription {
    margin: 10px !important;
}

#plattegrond {
    width: 70%;
    margin: 40px;
}

.original-price {
    position: relative;
    color: #555;
}

.original-price::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 2vw;
    right: 0;
    border-top: 3px solid red;
    transform: rotate(-20deg);
}

.original-price-modal {
    position: relative;
    color: #555;
}

.original-price-modal::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    border-top: 3px solid red;
    transform: rotate(-20deg);
}

.price-tekst {
    color: black !important;
}

.badge {
    position: absolute;
    left: 10px;
    font-family: oswald, sans-serif;
    font-size: 20px;
    margin: 0 20vw 0 0;
    background: #d9534f;
    width: 50px;
    height: 30px;
    line-height: 25px;
    text-transform: uppercase;
    border-radius: 8px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.badge2 {
    position: relative;
    display: inline-block;
    font-family: oswald, sans-serif;
    font-size: 20px;
    margin: 0 0 0 0;
    background: #d9534f;
    width: 50px;
    height: 30px;
    line-height: 25px;
    text-transform: uppercase;
    border-radius: 8px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.30%);
}

.search__input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
    height: 3vh;
    border-radius: 15px;
    background-color: #633d46;
    border: none;
    outline: none;
    padding: 8px 8px 8px 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    transition: width 0.5s ease-out;
    /*margin-right: -30px;*/
}

.search__input::placeholder {
    color: #ffffff;
}

.search__input:focus {
    width: 50vw;
}

.search-text {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    width: 50%;
}

.ingredients {
    display: none;
    background-color: white;
    padding: 10px;
    margin: 10px 10px 0 0;
    width: 19vw;
    /* margin-top: -10vh; */
    text-align: left;
    list-style-type: none;
}

.searchButton {
    align-self: center;
    background-color: #b5191f;
    border: 1px solid #9f9c9a;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    line-height: 100%;
    margin: 0 0.6rem;
    padding: 1rem;
    text-align: center;
    transition: all .3s ease-in;
    vertical-align: middle;
    width: 210px;
}

#buttonBack {
    z-index: 5;
    display: inline-block;
    position: relative;
    margin-left: -5vw;
    /*float: left;*/
}

/*.row3:before, .row3:after {*/
/*    display: inline-block !important;*/
/*}*/
