{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
{% endblock %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper" style="text-align: center";>
        <h1>Grandcruwijnen biedt u de volgende opties:</h1>
    </div>
    <div class="images" style="text-align: center; margin-top: 75px;">
         <img style="padding-right: 60px;" src="https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg" alt="" class="image">
         <img style="padding-right: 60px;" src="https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg" alt="" class="image">
         <img src="https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg" alt="" class="image">
    </div>
    <div class="choices" style="text-align: center; margin-top: 50px;">
        <a href="{{ path('meal_categories')}}" style="text-decoration: none; padding-right: 30px;">Wijn overzicht</a>
        <a href="{{ path('meal_categories')}}" style="text-decoration: none; padding-right: 30px;">Online Sommelier</a>
        <a href="{{ path('meal_categories')}}" style="text-decoration: none;">Uw eigen gerecht</a>
    </div>

{% endblock %}