{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
{% endblock %}

{% block title %}Landing Page!{% endblock %}

{% block body %}
    <div class="container">
        <img src='https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/images/logo.svg'
             alt='logo' class="logo_landing_page">
    </div>
    <div class="example-wrapper" style="text-align: center;">
        <h1>Grandcruwijnen biedt u de volgende opties:</h1>
    </div>
    <div class="images" style="text-align: center; margin-top: 75px;">
        <img style="padding-right: 60px;"
             src="https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg"
             alt="" class="image">
        <img style="padding-right: 60px;"
             src="https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg"
             alt="" class="image">
        <img src="https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg"
             alt="" class="image">
    </div>
    <div class="choices" style="text-align: center; margin-top: 50px;">
        <a href="https://winefinder.grandcruwijnen.nl" style="text-decoration: none; padding-right: 30px;">Wijn
            overzicht</a>
        <a href="{{ path('meal_categories') }}" style="text-decoration: none; padding-right: 30px;">Online Sommelier</a>
        <a href="#" style="text-decoration: none;">Uw eigen gerecht</a>
    </div>

{% endblock %}