{% extends 'base.html.twig' %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Welkom bij de online sommelier</h1>
        <p>Hier kunt u uw gerecht kiezen en dan worden er bijpassende wijnen gezocht.</p>
    </div>
    {% for match in matches %}
        <p>{{ match.wine.sku }}</p>
        {# <p><a href="{{ path('wines_for_meal', {wineId: wine.wineId}) }}"> {{ wine.wineId }}</a>
                </p> #}
        {# <img src="https://mealmatcher.grandcruwijnen.nl/meal_matches/{{ wine.wineId }}" alt=""> #}
    {% endfor %}

{% endblock %}